:root {
    --grey: #f5f5f5;
    --blue: #3d88f9;
}
.chat-window {
    * {
        font-family: "Raleway", sans-serif;
    }
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    border: 1px solid lightgray;
    position: absolute;
    bottom: 60px;
    right: 20px;
    height: 600px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close {
        border: none;
        padding: 8px 0;
        background-color: #1a1a1a;
        color: #ffffff;
        border-radius: 20px 20px 0 0;
    }

    .chat {
        flex: 1;
        padding: 0 8px;
        overflow-y: scroll;

        p {
            border-radius: 20px;
            width: 80%;
            margin: 8px 0;
            font-size: 16px;
            padding: 16px;
        }

        div.model {
            p {
                background-color: var(--grey);
            }
        }

        div.user {
            display: flex;
            justify-content: flex-end;
            p {
                background-color: var(--blue);
                color: #ffffff;
            }
        }

        div.error {
            font-size: 14px;
            text-align: center;
            color: red;
        }
    }

    .input-area {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        border-top: 1px solid lightgrey;

        input {
            height: 40px;
            flex: 1;
            border: none;
            background-color: var(--grey);
            border-radius: 20px;
            padding-left: 20px;
            font-size: 16px;
        }
        button {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            border: none;
            margin-left: 12px;
            background-color: var(--blue);
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 18px;
            }
        }
    }
}